<HTML>
    <style>
        body{
            background-image: none;
        }
        .home h2{
            font-family: cursive;
            font-style: italic;
            font-weight: bold;
            text-decoration-color: rgb(51, 115, 115);
            padding: 3px;
            text-shadow: 1px;
        }
    </style>
<body>
    
    <nav>
    <div class="logo">VACCINATION REMINDER</div>
    <div class="menu">
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/report">Report</a>
    </div>
    </nav>
    
    <img src="/css/homepic.png" width="500" height="500" align="right"/>
    <div class="home">
      <h2>&nbsp;&nbsp;&nbsp;Vaccination is a simple, safe, and effective way of 
        protecting the children against harmful diseases. 
        It uses your body's natural defenses 
        to build resistance to specific infections and makes your 
        immune system stronger. Healthy individuals are immunized with 
        immunogenic materials that induce immunity to serious pathogens.
        A “schedule” is a tool that is used to ensure that the recommended 
        immunizations are provided to shield both children and adults from 
        disease when they are the most vulnerable. Children should be vaccinated
        to protect them from certain dangerous infectious diseases. Individuals 
        who are not immunised, increase the risk that they and others in 
        their community will get the diseases vaccines can prevent.</h2>
    </div>
    <a href="/name_of_vaccines">
        <img src="/css/homevaccine.avif" width="1000" height="500" align="bottom"/>
    </a>
  </body>
</HTML>



















